# Blog API Configuration
VITE_BLOG_API_URL=https://api.example.com/blogs

# Formspree Configuration
VITE_FORMSPREE_FORM_ID=your-form-id

# Sentry Configuration
VITE_SENTRY_DSN=

# GCP Configuration (for local development)
GCP_PROJECT_ID=your-project-id
GCP_APP_NAME=your-app-name
